{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">

<main class="container">

    <div class="heading">
        {{page.heading|richtext}}
    </div>

    <section>
        <div class="home__ctas">
          <div class="cta-candidato">
              <p class="label">É candidato?</p>
              <p><a class="btn btn-round" href="/enquete">Participe da enquete</a></p>
          </div>
          <div class="cta-eleitor">
              <p class="label">É eleitor?</p>
              <p><a class="btn btn-round" href="">Aguarde o lançamento!</a></p>
          </div>
        </div>
    </section>

    <section class="partners">
        <p>Parceiros</p>
    </section>
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>

{% endblock %}
