{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">

<main class="container">

    <div class="heading">
        {{page.heading|richtext}}
    </div>

    <section>
        <div class="home__ctas">
          <div class="cta-candidato">
              <p class="label">É candidato?</p>
              <p><a class="btn btn-round" href="/enquete">Participe da enquete</a></p>
          </div>
          <div class="cta-eleitor">
              <p class="label">É eleitor?</p>
              <p><a class="btn btn-round" href="">Aguarde o lançamento!</a></p>
          </div>
        </div>
    </section>

    <section class="partners">
        <p>Organização</p>
        <div class="partners-flex">
            <a class="large" href="https://www.idsbrasil.org/" target="blank"><img src="{% static 'img/partners/ids-logo.png' %}"></a>
            <a class="large" href="https://raconhecimento.net/" target="blank"><img src="{% static 'img/partners/RAC.png' %}"></a>
        </div>
    </section>
    <section class="partners">
        <p>Parceiros</p>
        <div class="partners-flex">
            <a href="https://dadocapital.org.br/" target="blank"><img src="{% static 'img/partners/logo_dadocapital.jpg' %}"></a>
            <a href="https://www.torabit.com.br/" target="blank"><img src="{% static 'img/partners/logo_torabit.png' %}"></a>
            <a href="https://www.pulsopublico.com.br/" target="blank"><img src="{% static 'img/Pulso Público.svg' %}"></a>
            <a href="https://actbr.org.br" target="blank"><img src="{% static 'img/partners/Logo_ACT-horizontal 1.png' %}"></a>
            <a href="http://alana.org.br" target="blank"><img src="{% static 'img/partners/Logo_Alana-horizontal 1.png' %}"></a>
            <a href="https://www.frenteambientalista.com" target="blank"><img src="{% static 'img/partners/Logo_FrenteAmbientalista 1.png' %}"></a>
            <a href="http://frenteparlamentarindigena.com.br" target="blank"><img src="{% static 'img/partners/Logo_FrenteDireitosIndigenas 1.png' %}"></a>
            <a href="https://www.facebook.com/frenteparlamentarods" target="blank"><img src="{% static 'img/partners/Logo_FrenteODS 1.png' %}"></a>
            <a href="https://climaesociedade.org" target="blank"><img src="{% static 'img/partners/Logo_iCS 1.png' %}"></a>
            <a href="https://idec.org.br" target="blank"><img src="{% static 'img/partners/Logo_IDEC 1.png' %}"></a>
        </div>
    </section>
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>

{% endblock %}
