{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">

<div class="container">
    <section id="presentation">
        <h3>Apresentação</h3>
        <p class="presentation__text">{{page.heading|richtext}}</p>
        <a href="/surveys"><button>Responda a Enquete</button></a>
    </section>

    <hr>

    <section id="partners">
        <h3>Parceiros</h3>
    </section>
</div>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>

{% endblock %}
