{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}
{% load streamforms_tags %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/surveys.css' %}">

<main class="container">
    <div class="page-title">{{ page.title }}</div>
    {% streamforms_form slug="enquete" reference="e1f1ccf0-b59c-49dd-92a2-f8e32ae8d310" action="." %}
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>

{% endblock %}
