{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/surveys.css' %}">

<main class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="icon bg_white"></div> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% include_block page.surveys %}
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>

{% endblock %}
