.heading {
}
.home__ctas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 0 70px;
}

.home__ctas .label {
    padding: 20px;
}

.home__ctas .cta-candidato {
    font-weight: 700;
}
.home__ctas .cta-candidato a {
    color: var(--primary-color);
    font-size: 24px;
    text-decoration: unset;
    border: 1px solid var(--primary-color);
    border-radius: 33px;
    padding: 10px 30px;
}

.home__ctas .cta-eleitor {
    font-weight: 700;
}
.home__ctas .cta-eleitor a {
    color: var(--dark-blue);
    font-size: 24px;
    text-decoration: unset;
    border: 1px solid var(--dark-blue);
    border-radius: 33px;
    padding: 10px 30px;
}

.partners {
  display: flex;
  gap: 3rem;
}
.partners-flex {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin-bottom: 60px;
}
.partners a {
  min-width: 110px;
  max-width: 110px;
}
.partners a.large {
  min-width: 230px;
  max-width: 230px;
}
.partners img {
  width: 100%;
}

.partners p {
    font-family: Noto Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
