.home__ctas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 2.5rem 0 4.3rem;
    grid-column-gap: 2rem;
}

.home__ctas > * {flex: 1;}

.home__ctas .label {padding: 1.125rem;}

.cta-candidato {--button-color: var(--primary-color);}
.cta-eleitor {--button-color: var(--dark-blue);}

.home__ctas h2 {
  border: 1px solid var(--button-color);
  border-radius: 100vmax;
  padding: .75rem 1.75rem;
}

.home__ctas a {
  text-decoration: unset;
  color: var(--button-color);
}

.partners {
  display: grid;
  grid-template-columns: 6rem auto;
  grid-gap: 3rem;
}

.partners.large {margin-top: 3rem;}

.partners__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  grid-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 4rem;
}

.partners.large .partners__items {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.partners img {width: 110px;}

.partners.large img {width: 230px;}

.partners p {
  font-style: italic;
  font-weight: 500;
  color: #A0A0A0;
  letter-spacing: 0em;
  text-align: left;
}

.blog-section {
  display: grid;
  grid-gap: 1.625rem;
  margin-bottom: 3rem;
}

.carousel__slide {
  display: none;
  grid-gap: 1.25rem;
}

.carousel__slide.active {display: grid;}

.blog-section .section-title {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: .875rem;
  line-height: .875rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.blog-section a {
  text-decoration: none;
}
.blog-section h2 {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.0625rem;
}

.blog-section h4 {font-size: 1rem;}

.blog-section img {
  position: relative;
  height: 21.5rem;
  width: 100%;
  object-fit: cover;
  background-color: var(--gray);
}

.blog-section img::before {
  display: block;
  position: absolute;
  background: var(--blue);
  border-radius: 100vmax;
  bottom: 2rem;
  padding: .5rem 1.5rem;
  right: 2rem;
  color: white;
  font-weight: 700;
  font-size: .75rem;
  content: 'Leia mais';
}

.blog-section__drawer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.know-more .popup__body {display: block;}

.know-more__link {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.carousel__dot {
  width: .875rem;
  height: .875rem;
  border-radius: 100vmax;
  background: var(--light-blue);
  cursor: pointer;
  transition: .25s;
}

.carousel__dot.active {
  background: var(--dark-blue);
  width: 1.75rem;
}

@media screen and (max-width: 830px) {
  .partners {
    display: block;
    margin-bottom: 1rem;
  }

  .partners p {
    text-align: center;
    font-size: 1.25rem;
  }
}

