form {
    margin-bottom: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

.category label {
    font-weight: 700;
    font-size: 1.5rem;
}

.category {
    margin-bottom: 1.75rem;
}

.field-row {
    display: grid;
    grid-auto-flow: row;
    grid-gap: .5rem;
    margin-bottom: 1rem;
}

.field-row ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 2.75rem;
    padding-inline-start: .5rem;
}

.field-row input, select {
    padding: .7rem 1rem;
    border: 1px solid var(--gray);
    border-radius: .25rem;
}

.field-row input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.field-row input[type="radio"] {margin: 0;}

select {background: white;}

.category {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.title {
    font-weight: 300;
    margin-bottom: .75rem;
    font-size: 24px;
}

main {padding-top: 2rem;}

.page-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

input[type="submit"]:hover, .modal__toggle:hover, .modal__close.submit:hover {
    text-decoration: none;
}
input[type="submit"], .modal__toggle, .modal__close.submit {
    color: white;
    background: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 100vmax;
    font-weight: 700;
    border: none;
    justify-self: center;
    cursor: pointer;
    text-decoration: none;
}

.field-row li {list-style: none;}

.field-row label {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.field-row li {list-style: none;}

.field-row label {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.field-row.error {
    background: #fff;
    border-radius: .25rem;
}

.requided_error{
    margin-top: -0.5rem;
    background: #FFEEEE;
    padding: 10px;
    color: red;
    border-radius: .25rem;
    opacity: 1;
    animation-name: fade-down;
    animation-duration: .25s;
    animation-timing-function: linear;
}

.field-row.error input{border: 2px solid red;}

.field-row.error ul {
    border: 2px solid red;
    margin-inline-start: 0;
    padding-inline-start: 2.75rem;
    margin-bottom: 0px;
}

.errorlist {
    border-left: 1px solid black;
}

.errorlist li {
    list-style: circle;
    margin-left: 2rem;
    font-weight: bold;
}

.question.social {
    display: inline-flex;
    width: calc(50% - 8px);
    margin: 0 10px 25px 0;
}

.question.social input {
    flex: 1;
}

.question.social label {
    display: inline-block;
    width: 0px;
    padding: 0;
    overflow: hidden;
    margin-right: 45px;
}

.question.social label::before {
    display: block;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 0.625rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.twitter label::before {
    background-image: url(/static/img/social_icons/twitter.svg);
}

.facebook label::before {
    background-image: url(/static/img/social_icons/facebook.svg);
}

.instagram label::before {
    background-image: url(/static/img/social_icons/instagram.svg);
}

.youtube label::before {
    background-image: url(/static/img/social_icons/youtube.svg);
}

.question.social:is(.facebook, .youtube) {margin-right: 0;}

form .actions {
    text-align: center;
    margin: 30px;
}

.lgpd_text{
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}



