{% load wagtailcore_tags %}

{% if ancestors %}
<nav class="breadcrumb-container" aria-label="Breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          {% for ancestor in ancestors %}
          {% if forloop.last %}
          <li aria-current="page">{{ ancestor }}</li>
          {% else %}
          <li><a href="{% pageurl ancestor %}">{% if forloop.first %}Home{% else %}{{ ancestor }}{% endif %}</a>
            /
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
