{% if field.help_text == 'category_category' %}
    <div class="category">{{ field.label_tag }}</div>
    {{ field.errors }}
{% elif field.help_text == 'title_title' %}
    <div class="title">{{ field.label_tag }}</div>
    {{ field.errors }}
{% else %}
    <div class="field-row question {% if field.help_text == 'birthday_birthday' %} birthday-field {% endif %} {% if field.errors %}error{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors  %}
            {% for block in field.errors %}
                {% if block == 'This field is required.' %}
                <div class="requided_error">
                    <div class="icon_alert bg_red"></div>  Campo Obrigatório
                    </div>  
                {% endif %}  
            {% endfor %}
        {% endif %}
    </div>
{% endif %}