{% load wagtailcore_tags wagtailimages_tags static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/components/modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/spinner.css' %}">
<form{% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" novalidate>
    {% csrf_token %}
    {{ form.media }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}
        {% include 'home/surveys/form_field.html' %}
    {% endfor %}

    <a class="btn btn-round modal-toggle">Confirmar envio</a>

    <div class="modal">
        <div class="modal-backdrop"></div>
        <div class="modal-content">
            <div class="modal-header">
                <h2>Confirme seus dados</h2>
                <a class="modal-close">
                    <img src="{% static 'img/icons/times.svg' %}">
                </a>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <input class="btn btn-round btn-primary" type="submit" value="{{ value.form.submit_button_text }}">
            </div>
        </div>
</form>
<script src="{% static 'js/components/modal.js' %}"></script>
<hr>
