{% load wagtailcore_tags wagtailimages_tags static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/components/modal.css' %}">

<form class="survey-form fade-up" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" novalidate>
    {% csrf_token %}
    {{ form.media }}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% for field in form.visible_fields %}
        {% include 'home/surveys/form_field.html' %}
    {% endfor %}

    <div class="actions">
    <a class="btn btn-round modal__toggle">Confirmar envio</a>
    </div>
    <div class="modal">
        <div class="modal__backdrop"></div>
        <div class="modal__content">
            <div class="modal__header">
                <h2>Confirme seus dados</h2>
                <a class="modal__close">
                    <img src="{% static 'img/icons/times.svg' %}">
                </a>
            </div>
            
            <div class="modal__all">
                <div class="modal__body">
                </div>
                <hr>
                <div class="lgpd_text">
                    Em atenção à <b> Geral de Proteção de Dados, Lei n. 13.709/2018</b>, o titular concorda com o tratamento de seus dados coletados pela <b>Controladora (Dado Capital, organização social com CNPJ de n. 26.202.950/0001-92, endereço à SEPS 705/905, bloco C, sala 20, Edifício Mont Blanc, Brasília/DF)</b>, para fins exclusivos de cadastro de sistema de usuários e produção de relatórios temáticos, os quais podem ser publicizados. A plataforma <b>Farol Verde</b> observa os princípios e as garantias estabelecidas pela <u>Lei n. 13.709/2018</u> . Dados pessoais anonimizados, sem possibilidade de associação ao indivíduo, poderão ser mantidos por período indefinido. O Titular poderá solicitar via e-mail ou correspondência à Controladora, a qualquer momento, que sejam eliminados os dados pessoais não anonimizados do Titular.
                </div>
            </div>
            
            <div class="modal__footer">
            <a class="btn btn-round btn-primary modal__close submit" href="#">{{ value.form.submit_button_text }}</a>
            </div>
        </div>
    </div>
</form>
<script src="{% static 'js/components/modal.js' %}"></script>
<script src="{% static 'js/home/surveys.js' %}"></script>
<hr>
