.fade-in {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-up {
    opacity: 1;
    animation-name: fade-up;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-down {
    opacity: 1;
    animation-name: fade-down;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-left {
    opacity: 1;
    animation-name: fade-left;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-right {
    opacity: 1;
    animation-name: fade-right;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-expand {
    opacity: 1;
    transform: scale(1);
    animation-name: fade-expand;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.fade-shrink {
    opacity: 1;
    transform: scale(1);
    animation-name: fade-shrink;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.expand {
    transform: scale(1);
    animation-name: expand;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.shrink {
    transform: scale(1);
    animation-name: shrink;
    animation-duration: .5s;
    animation-timing-function: linear;
}

.spin {
    transform: rotate(0deg);
    animation: spin 2s linear infinite;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
}

@keyframes expand {
    from {transform: scale(0);}
}

@keyframes fade-expand {
    from {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes shrink {
    from {transform: scale(2);}
}

@keyframes fade-shrink {
    from {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes spin {
    to {transform: rotate(0deg);}
    from {transform: rotate(360deg);}
}

@keyframes loader-animate {
    from {transform: scaleX(0);}
}

@keyframes shrink {
    from {width: 100%;}
}