html {overflow-x: hidden;}

a[disabled] {pointer-events:none}

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: url('/static/img/curvas_lateral-dir.svg');
    background-size: 51vh;
    background-repeat: no-repeat;
    background-position: 87vw 0vh;
    background-attachment: fixed;
}

section {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

button {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 100vmax;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    color: var(--shadow-color) !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}

.hide {display: none !important;}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* ###################################### */
/* Fonts */
h1 {
    font-size: 36px;
    line-height: 49px;
    color: var(--dark-blue);
}

h2 {
    font-size: 24px;
    line-height: 33px;
    color: var(--dark-blue);
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-size: 16px;
    line-height: 24px;
}

h5 {
    font-size: 20px;
    line-height: 27px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

a {
    color: var(--blue);
    font-weight: 700;
}

button, .button-text {
    font-size: 14px;
    line-height: 16px;
}

caption {
    font-size: 10px;
    line-height: 12px;
}

.overline {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

h1, h2 {color: var(--dark-blue);}

h5, p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, button, .button-text, caption {
    margin: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
}

a:hover {text-decoration: underline;}

/* ################################ */

.hidden {visibility: hidden;}

.hide {display: none;}

.container {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    max-width: 750px;
    margin-left: 4.5rem;
}

main.container {
    flex-grow: 1;
    background: white;
}

.bg_red{background-color: red;}

.bg_white{background-color: white;}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}
.messages li.success {background-color: var(--primary-color);}

.messages li.success .icon {
    -webkit-mask: url(/static/img/icons/check.svg) no-repeat center;
    mask: url(/static/img/icons/check.svg) no-repeat center;
}

.messages li.error {background-color: red;}

.messages li.error .icon {
    -webkit-mask: url(/static/img/icons/alert.svg) no-repeat center;
    mask: url(/static/img/icons/alert.svg) no-repeat center;
}

.messages li {
    list-style-type: none;
    margin-left: -40px;
    padding: 15px;
    font-weight: 900;
    color: white;
    margin-bottom: .5rem;
}

.messages li:last-child {margin-bottom: 0;}

.field-row select {height: 3rem;}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1600px) {
    body {background: unset;}

    .container {margin-left: auto;}
}
