html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
section {
    padding: 2rem;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .25rem;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    color: var(--shadow-color) !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}

.hide {
    display: none !important;
}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1,
h2 {
    font-weight: 500;
}

h3,
h4,
h5 {
    font-weight: 400;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.3rem;}
h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
}
a:hover {
    text-decoration: underline;
}
.hidden {
    opacity: 0;
}

.hide {
    display: none;
}
.card {
    padding: 15px;
    display: grid;
    grid-template-rows: 90px auto;
}
.card .card-title {
    color: var(--dark-blue);
    display: flex;
    place-items: center;
}
.card .card-title h4 {
    font-weight: 600;
    text-align: left;
    margin-left: -30px;
}
.container {
    width: 80%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
    max-width: 90rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: .94rem;
    }
    h4 {
        font-size: .875rem;
    }

    .container {
        padding: unset;
    }
}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
}