html {
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: url('/static/img/curvas_lateral-dir.svg');
    background-size: 51vh;
    background-repeat: no-repeat;
    background-position: 87vw 0vh;
    background-attachment: fixed;
}
section {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .25rem;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
    color: var(--shadow-color) !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}

.hide {
    display: none !important;
}

.flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1,
h2 {
    font-weight: 500;
}

h3,
h4,
h5 {
    font-weight: 400;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 1.3rem;}
h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
}
p {
    font-size: 20px;
    line-height: 1.4;
}

a:hover {
    text-decoration: underline;
}
.hidden {
    opacity: 0;
}

.hide {
    display: none;
}
.card {
    padding: 15px;
    display: grid;
    grid-template-rows: 90px auto;
}
.card .card-title {
    color: var(--dark-blue);
    display: flex;
    place-items: center;
}
.card .card-title h4 {
    font-weight: 600;
    text-align: left;
    margin-left: -30px;
}
.container {
    width: 80%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
    max-width: 750px;
    margin-left: 4.5rem;
}
main.container {
    flex-grow: 1;
    background: white;
}

aside.side-images {
    width: 33%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}
aside.side-images img {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 100vh;
    transition: opacity ease 0.5s;
}

@keyframes loader-animate {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
aside.side-images .loader {
  height: 5px;
  width: 200%;
  background: white;
  opacity: 0.4;
  animation: loader-animate 20s linear infinite;
  position: absolute;
  bottom: 0;
  left: -100%;
}

aside + .main {
    width: 67%;
    margin-left: 33%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg_red{
    background-color: red;
}
.bg_white{
    background-color: white;
}
.icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    float: left;
    margin-top: 2px;
}
.messages li.success {
    background-color: var(--primary-color);
}
.messages li.success .icon {
    -webkit-mask: url(/static/img/icons/check.svg) no-repeat center;
    mask: url(/static/img/icons/check.svg) no-repeat center;
}
.messages li.error {
    background-color: red;
}
.messages li.error .icon {
    -webkit-mask: url(/static/img/icons/alert.svg) no-repeat center;
    mask: url(/static/img/icons/alert.svg) no-repeat center;
}
.messages li {
    list-style-type: none;
    margin-left: -40px;
    padding: 15px;
    font-weight: 900;
    color: white;
}

.field-row select {
    height: 3rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: .94rem;
    }
    h4 {
        font-size: .875rem;
    }

    .container {
        padding: unset;
    }
}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
    aside.side-images {
        visibility: hidden;
        display: none;
    }
    
    aside + .main {
        width: 100%;
        margin-left: 0;
    }
    .container {
      width: 90%;
    }
}

@media (max-width: 1600px) {
    body {
        background: unset;
    }
    .container {
        margin-left: auto;
    }
}
