header {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    z-index: 700;
    height: 4rem;
    margin-bottom: 2rem;
}

.header__content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header__logo {
    color: var(--primary-color);
    width: 168px;
}

.header__links {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    display: flex;
    gap: 3rem;
    transition: .5s;
}

.header__btn {
    background: white;
    display: none;
    justify-self: flex-end;
}

.header__btn  img {width: 24px;}

.header__links .header__item {
    list-style: none; 
    padding: 15px;
}

.header__item.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color); 
}

.header__item a {
    color: black;
    text-decoration: none;
    padding-block: 1rem;
}

.header__item.active a {
    color: var(--primary-color);
}

.header__links a[disabled] {opacity: .5;}

.header__close {
    display: flex;
    visibility: hidden;
    justify-content: end;
    width: calc(100% - 2rem);
}

.breadcrumb {
    display: inline-flex;
    list-style: none;
    padding: 0;
    align-items: center;
    font-weight: 700;
    margin-bottom: 40px;
}

.breadcrumb li:last-child,
.breadcrumb li a {
    padding: 0 10px 0 0;
    font-size: 14px;
    text-decoration: underline;
    color: black;
}

.breadcrumb li {
  padding-right: 10px;
  white-space: nowrap;
}

.breadcrumb li:last-child {
    color: var(--dark-blue);
    text-decoration: none;
    padding: 0 10px;
}

@media (max-width: 830px) {
    .header__btn {
        display: block;
    }

    .header__links {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        border-radius: 50%;
        text-align: left;
        gap: 1rem;
        left: 0;
        top: -20rem;
        right: 0;

        background: var(--primary-color);

        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .header__item.active {
        border-bottom: 3px solid white; 
    }

    .header__item a, .header__item.active a {color: white;}

    .header__links.open {
        visibility: visible;
        border-radius: 0;
        right: unset;
        top: 0;
    }

    .header__close {visibility: visible;}

    .header__links .header__item.active {border-bottom: 0;}
}
