header {
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    align-items: center;
    z-index: 700;
    height: 4rem;
    width: 100vw;
}

.header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.header__brandings {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.header__brandings img {max-height: 2rem;}