header {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    z-index: 700;
    height: 4rem;
    margin-bottom: 2rem;
}

.header__content {
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-gray);
    padding-right: 1rem;
    background: white;
}

.header__logo {
    color: var(--primary-color);
    width: 168px;
}

.header__links {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    display: flex;
    gap: 3rem;
}

.header__btn {
    background: white;
    display: none;
    justify-self: flex-end;
}

.header__btn  img {
    width: 24px;
}

.header__links a {
    color: black;
    text-decoration: none;
}

.header__links a[disabled] {
    opacity: .5;
}

@media (max-width: 830px) {
    .header__btn {
        display: block;
    }

    .header__links {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        text-align: right;
        right: 1rem;
        gap: 1rem;

        background: white;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .header__links.open {
        visibility: visible;
        top: 3.5rem;
    }
}