header {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    z-index: 700;
    height: 4rem;
    margin-bottom: 2rem;
}

.header__content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.header__logo {
    color: var(--primary-color);
    width: 168px;
}

.header__links {
    display: flex;
    gap: 3rem;

    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;

    transition: .5s;
}

.header__btn {
    background: white;
    display: none;
    justify-self: flex-end;
}

.header__btn  img {width: 24px;}

.header__item {
    list-style: none; 
    padding: 15px;
    color: black;
}

.header__item a {
    color: black;
    text-decoration: none;
    padding-block: 1rem;
}

.header__links a[disabled] {opacity: .5;}

.header__item.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color); 
}

.header__item.active a {color: var(--primary-color);}

.header__close {
    display: flex;
    visibility: hidden;
    justify-content: end;
}

.header__close button {
    background: none;
    color: white;
}

/* Breadcrumb */

.breadcrumb {
    display: inline-flex;
    list-style: none;
    padding: 0;
    align-items: center;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.breadcrumb li:last-child,
.breadcrumb li a {
    padding-right: .625rem;
    font-size: 14px;
    text-decoration: underline;
    color: black;
}

.breadcrumb li {
    padding-right: .625rem;
    white-space: nowrap;
}

.breadcrumb li:last-child {
    color: var(--dark-blue);
    text-decoration: none;
    padding-inline: 10px;
}

@media (max-width: 830px) {
    .header__btn {display: block;}

    .header__links {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        text-align: left;
        gap: 1rem;
        left: 0;
        right: 0;
        top: -20rem;

        background: var(--primary-color);

        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .header__item.active {border-bottom: 3px solid white; }

    .header__item a {color: white;}

    .header__links.open {
        visibility: visible;
        border-radius: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .header__close {visibility: visible;}

    .header__links .header__item.active {border: 0;}
    .header__links .header__item.active a{color: white;}

    .header__links .header__item.active::before {
        content: "";
        display: inline-block;
        margin-right: .5rem;
        margin-bottom: .25rem;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background: white;
    }
}
