aside.side-images {
    width: 33%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}
aside.side-images img {
    min-width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 100vh;
    transition: opacity ease 0.5s;
}

aside.side-images .loader {
    height: 5px;
    width: 200%;
    background: white;
    opacity: 0.4;
    animation: loader-animate 20s linear infinite;
    position: absolute;
    bottom: 0;
    left: -100%;
}

aside + .main {
    width: 67%;
    margin-left: 33%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    aside.side-images {
        visibility: hidden;
        display: none;
    }
    
    aside + .main {
        width: 100%;
        margin-left: 0;
    }
}