{% load wagtailimages_tags  %}

<div class="candidates__list">
    {% for candidate in candidates_list %}
        <a href="{{candidate.url}}" class="candidate">
            {% set picture = candidate.get_picture %}
            {% if picture|length %}
                <img src="{{ picture }}" alt="{{ page.picture.title }}" class="candidate__picture">
            {% else %}
                <span class="candidate__picture empty">
            {% endif %}
            <div class="candidate__data">
                <div class="candidate__name">{{ candidate.title }}</div>
                <div class="candidate__info">{{ candidate.charge }}</div>
            </div>
        </a>
    {% endfor %}
</div>
