{% load wagtailimages_tags  %}

<div class="candidates__list">
    {% for candidate in candidates_list %}
        <a href="{{candidate.url}}" class="candidate">
            <img src="{{ candidate.picture.url }}" alt="{{ page.picture.title }}" class="candidate__picture">
            <div class="candidate__data">
                <div class="candidate__name">{{ candidate.title }}</div>
                <div class="candidate__info">
                    {{ candidate.charge }} / {{ candidate.party }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
