.candidates {
    display: grid;
    flex-grow: 1;
    grid-gap: 2rem;
    padding-bottom: 2rem;
    align-content: baseline;
}

#candidates__container {
    display: grid;
    grid-gap: 2rem;
}

.candidates__content {
    display: grid;
    grid-gap: 2rem;
}

.query {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.query :is(input, select) {
    padding: 0 1rem;
    border-radius: .25rem;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background: white;
}

input::placeholder {color: var(--dark-blue);}

.query__select {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

.query__select > * {min-height: 3.125rem;}

#uf {
    position: relative;
}

#uf > button {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;

    color: black;
    background: white;
    border: 1px solid var(--dark-gray);
    border-radius: .25rem;
    
    font-weight: 500;
    font-size: .75rem;
}

#uf > *:not(i) {font-size: .75rem;}

#uf > button:hover {box-shadow: none;}

.uf__selector {
    width: min-content;
}

.uf__selector p {
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    margin: 0;
}

#query__input {flex: 1;}

.query__sortby {
    border: 1px solid var(--dark-blue);
    border-radius: .25rem;
    display: flex;
    width: 7rem;
    overflow: hidden;
}

.query__sortby .btn-toggle span {height: 100%;}

.query__show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--dark-blue);
}

.query__show .query__heading {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
}

.query__heading {font-weight: 700;}

.query__show .query__heading:hover {text-decoration: underline;}

.query__subjects {
    display: flex;
    flex-wrap: wrap;
    padding-top: .5rem;
    gap: .75rem;
}

.query__subjects.closed {display: none;}

.query__subjects .btn-toggle {
    flex: unset;
    cursor: pointer;
    overflow: hidden;
}

.query__subjects .btn-toggle span {
    padding: .5rem 1rem;
    border: 1px solid var(--blue);
    border-radius: 100vmax;
    font-weight: 700;
    display: block;
}

#toggle-icon.closed {transform: rotate(90deg);}

.subject {
    background: var(--blue);
    color: white;
    padding-block: 2rem;
    transition: .5s;
}

.subject.closed {
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.subject__content {
    display: grid;
    grid-gap: 1.5rem;
}

.subject__name {text-decoration: underline;}

.subject__description {font-weight: 600;}

.subject__heading {font-weight: 400;}

.subject__header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 820px) {
    .query__subjects {
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .query__select {flex-direction: column}

    .query__sortby {
        flex: 1;
        width: 100%;
    }
}