.search {
    display: flex;
    gap: 1rem;
}

.search__input {
    min-width: 20rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.search__order-by {
    display: flex;
    align-items: center;
}

.candidates {
    display: grid;
    grid-gap: 4rem;
    grid-template-rows: 3rem auto;
}

.candidates__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
}

.candidate {
    display: grid;
    grid-template-rows: 7.5rem 4rem;
    grid-gap: 1rem;
    max-width: 7.5rem;
    width: 100%;
    margin-inline: auto;
    color: black;
    text-decoration: none;
}

.candidate img {
    width: 7.5rem;
    height: 7.5rem;
}

.candidate:hover {text-decoration: none;}

.candidate__data {
    display: grid;
    place-items: center;
    text-align: center;
    font-size: .75rem;
}

.candidate__name {
    font-weight: bold;
    font-size: .875rem;
}

.candidate__picture {
    border-radius: 100vmax;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
