.candidates {
    display: grid;
    flex-grow: 1;
    grid-gap: 2rem;
    padding-bottom: 2rem;
    align-content: baseline;
}

#candidates__container {
    display: grid;
    grid-gap: 2rem;
}

.query {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.query :is(input, select) {
    padding: 0 1rem;
    border-radius: .25rem;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    background: white;
}

input::placeholder {color: var(--dark-blue);}

.query__select {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}


.input-board {
    display: flex;
    position: relative;
}

.input-board > button {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    color: black;
    background: white;
    outline: 1px solid var(--dark-gray);
    border-radius: .25rem;
    flex-grow: 1;
    height: 100%;
    
    font-weight: 500;
    font-size: .75rem;
}

.input-board > *:not(i) {font-size: .75rem;}

.input-board > button:hover {box-shadow: none;}

.input-board__selector {
    width: min-content;
}


.input-board__selector p {
    width: 100%;
    font-size: .875rem;
    font-weight: 700;
    margin: 0;
}

#query__input {
    flex: 1;
    height: 2.25rem;
}

.query__sortby {
    outline: 1px solid var(--dark-blue);
    border-radius: .25rem;
    display: flex;
    min-width: 7rem;
    min-height: 2.25rem;
    overflow: hidden;
}

.query__sortby .btn-toggle span {height: 100%;}

.query__show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--dark-blue);
}

.query__show .query__heading {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: .5rem;
    font-weight: 500;
}

.query__heading p {margin: 0;}

.query__show .query__heading:hover {text-decoration: underline;}

.query__subjects {
    display: flex;
    flex-wrap: wrap;
    padding-top: .5rem;
    gap: .75rem;
}

.query__subjects.closed {display: none;}

.query__subjects .btn-toggle {
    flex: unset;
    cursor: pointer;
    overflow: hidden;
}

.query__subjects .btn-toggle span {
    padding: .5rem 1rem;
    border: 1px solid var(--blue);
    border-radius: 100vmax;
    font-weight: 700;
    display: block;
}

#toggle-icon.closed {transform: rotate(90deg);}

.subject {
    background: var(--blue);
    color: white;
    padding: 1.5rem;
    transition: .5s;
    border-radius: .75rem;
}

.subject.closed {
    height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.subject__content {
    display: grid;
    grid-gap: 1.5rem;
}

.subject__name {text-decoration: underline;}

.subject__description {font-weight: 600;}

.subject__heading {font-weight: 400;}

.subject__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.country-selector :is(path:hover, g.selected path) {
    fill: #C1FF00;
    stroke: #13A538;
    cursor: pointer;
}

.country-selector .modal-header {
    display: flex;
    justify-content: center;
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.country-selector .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-selector .modal-footer {
    display: flex;
    align-items: center;
    border-top-width: 0 !important;
    justify-content: space-between;
    
    font-size: .875rem;
    font-weight: 700;
    color: var(--blue);
}

.country-selector .modal-footer label {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.country-selector .modal-footer .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.country-selector .modal-footer .right button {
    padding-inline: 1rem;
    font-size: 1rem;
}

.country-selector .modal-footer .right a {
    text-decoration: underline;
    color: var(--blue);
}

@media (max-width: 820px) {
    .query__subjects {justify-content: center;}
    .query__sortby {flex: 1;}

}

@media (max-width: 520px) {
    .query__select {flex-direction: column}

    #query__input {flex: unset;}
}