.candidate__profile {
    display: grid;
    grid-template-columns: 6rem auto;
    align-items: center;
    grid-gap: 2.5rem;
    margin-block: 2rem;
}

.candidate__picture {
    position: relative;
    border-radius: 100vmax;
    object-fit: cover;
    object-position: top;
    width: 120px;
    aspect-ratio: 1;
}

.candidate__picture.empty {
    background: var(--gray);
    display: block;
}

.candidate__name {
    font-size: 1.5rem;
    font-weight: 700;
}

.candidate__data {
    display: grid;
    font-weight: 700;
    gap: .25rem;
}

.candidate__info {
    display: flex;
    gap: .75rem;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #777;
    gap: 3rem;
}

.tab {
    background: white;
    font-size: .75rem;
    color: #777;
    padding-block: 1rem;
    border-radius: 0;
    border-bottom: .25rem solid white;
}

.tab:hover {box-shadow: unset !important;}

.tab.open {
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

.result__content {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    grid-gap: 2rem;
    margin-block: 3rem;
}

.result__card {
    position: relative;
    padding: 2.5rem 2rem 2rem;
    border: 1px solid var(--result-color);
    border-radius: .75rem;
    font-weight: 700;
    --result-color: #777;
}

.Não {--result-color: #D00000;}
.Sim {--result-color: #329c00;}

.result__title {
    position: absolute;
    top: -1rem;
    left: -1rem;
    background: var(--result-color);
    color: white;
    border-radius: 100vmax;
    padding: .5rem .75rem;
}
