{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/blogPost.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/components/posts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/components/highlights.css' %}">

    <div id="blog" class="container">
        <div class="content">

            <div id="posts-container" class="fade-up">
                <div class="posts"></div>
                <div class="spinning-load hide"><i class="spin fa fa-lg fa-spinner"></i></div>
            </div>

            <div id="footer-tags" hidden>
                {% include 'blog/components/footer-tags.html' %}
            </div>

        </div>
    </div>

    <script src="{% static 'js/jquery-build.min.js'%}"></script>

    <script src="{% static 'js/blog/search.js' %}"></script>
{% endblock %}
