{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-blogpost{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/blog/blogPost.css' %}">

    <img class="cover-image--mobile fade-down" src="{{ page.cover_image.url }}" alt="{{ page.title }}" hidden>
    <div class="container">
        {% image page.cover_image original class="cover-image" %}

        <main>
            <div class="sidebar__link--mobile" hidden>
                <a class="shadow" href="/blog"><i class="fa fa-lg fa-caret-left"></i> VOLTAR PARA BLOG</a>
                <div class="link__bottom-line"></div>
            </div>
            <div id="sidebar-panels" class="fade-right">
                <a class="shadow sidebar__link" href="/blog"><i class="fa fa-lg fa-caret-left"></i> VOLTAR PARA BLOG</a>
                {% include 'blog/components/sidebar-panels.html' %}
            </div>
            <div class="content">
                {% if page.tags.count %}
                    <div class="content-header__tags">
                        <span class="shadow">TAGS</span>
                        {% for tag in page.tags.all %}
                            <a href="/blog?tag={{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="content-header fade-left">
                    <h2>{{ page.title }}</h1>
                        <div class="content-header-data">
                            {% if page.category %}
                                <div class="tag-mark content-mark {{ page.category|lower }}">{{page.category}}</div>
                            {% endif %}
                            <span class="shadow page__info">{{ page.date|date:"d M" }} <span class="post__readtime">- <span id="time-of-reading"></span>min. de leitura</span></span>
                        </div>
                </div>
                <div class="content-body fade-up">
                    {{ page.body|richtext }}
                </div>
                <div class="content-footer--mobile" hidden>
                    <span class="link--bottom">
                        <a href="{% pageurl page.previous_post %}" id="footer__link--previous" class="footer__link--black"><i class="fa fa-lg fa-caret-left"></i> anterior</a>
                        <a href="{% pageurl page.next_post %}" id="footer__link--next" class="footer__link--black">próximo <i class="fa fa-lg fa-caret-right"></i></a>
                    </span>
                </div>
            </div>
        </main>
    </div>

    <script>
        const timeOfReadingEl = document.getElementById('time-of-reading');
        const bodyEl = document.querySelector(".content-body")

        var wordsCount = bodyEl.innerText.split(" ").length;
        var totalMinutes = Math.round(wordsCount / 200);

        timeOfReadingEl.innerText = totalMinutes || "Menos de 1";
    </script>

{% endblock %}
