
.input-board {
    position: relative;
    flex: 0;
}

.input-board__selector {
    visibility: hidden;
    background: white;
    border-radius: .25rem;
    outline: 1px solid var(--dark-gray);
    padding: 1.5rem;
    z-index: 500;
    top: 4rem;
    position: absolute;
    display: grid;
    gap: 1rem;
    width: 17rem;
}
.input-board__selector.large { width: 34rem; }
.input-board__selector.large .btn-toggle { min-width: 6rem; }

.input-board__content {
    display: block;
}

.input-board__content .long {grid-column: span 2;}

.input-board__selector .btn-toggle {
    display: inline-grid;
    margin: 5px 0;
    border-radius: 4vmax;
    line-height: 1;
    --marked-color: var(--dark-gray);
    min-width: 3rem;
}

.input-board__selector .btn-toggle span {
    height: 100%;
    font-weight: 700;
    font-size: .875rem;
    padding: 1rem;
}

.input-board__selector.open {
    visibility: visible;
}
