.input-board__selector {
    visibility: hidden;
    background: white;
    border-radius: .25rem;
    outline: 1px solid var(--dark-gray);
    padding: 1.5rem;
    z-index: 500;
    top: 4rem;
    position: absolute;

    display: grid;
    gap: 1rem;
}

.input-board__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    grid-row-gap: .5rem;
}

.input-board__selector .btn-toggle {
    border-radius: 100vmax;
    width: 2.25rem;
    aspect-ratio: 1;
    --marked-color: var(--dark-gray);
}

.input-board__selector .btn-toggle span {
    height: 100%;
    font-weight: 700;
    font-size: .875rem;
}

.input-board__selector.open {
    visibility: visible;
}
