.modal {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: grid;
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close img {
    width: 1rem;
}

.modal-backdrop {
    opacity: 0.3;
    background: black;
    width: 100vw;
    position: absolute;
    height: 100vh;
}

.modal-content {
    display: grid;
    grid-template-rows: 3rem 60vh 3rem;
    grid-gap: .25rem;
    background: white;
    width: 80%;
    max-width: 700px;
    padding: 1rem;
    border-radius: .5rem;
    z-index: 100000;
    justify-self: center;
}

.modal-content .modal-footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border-top: 1px solid var(--dark-gray);
}

.modal-body {
    overflow-y: auto;
    padding: 1rem;
}