.modal {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    align-items: center;
}

.modal.open {
    display: grid;
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close img {
    width: 1rem;
}

.modal-backdrop {
    position: absolute;
    opacity: 0.3;
    background: black;
    width: 100%;
    height: 100%;
}

.modal-content {
    display: grid;
    grid-template-rows: 3rem 60vh 3rem;
    grid-gap: .25rem;
    background: white;
    width: 51%;
    max-width: 720px;
    padding: 1rem;
    border-radius: .5rem;
    z-index: 100000;
    left: calc(33% + 85px);
    position: absolute;
}

.modal-content .modal-footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 15px;
    text-align: center;
    border-top: 1px solid var(--dark-gray);
}

.modal-all{
    overflow-y: auto;
    padding: 1rem;
}

.modal-all hr{
    margin-top: -35px;
    margin-bottom: 20px;
}

.modal-body {
    overflow-y: auto;
    padding: 1rem;
}
@media (max-width: 1600px) {
    .modal-content {
        left: 40%;
    }
}
@media (max-width: 1200px) {
    .modal-content {
        left: unset;
        position: unset;
        width: 80%;
    }
    .modal.open {
        justify-items: center;
    }
}
