.modal {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
}

.modal.open {
    display: block;
    opacity: 1;
}

.modal-backdrop {
    opacity: 0.3;
    background: black;
    width: 100%;
    height: 100%;
}
.modal-content {
    background: white;
    position: absolute;
    width: 80%;
    max-width: 700px;
    height: 60vh;
    top: 12vh;
    left: 61%;
    transform: translateX(-50%);
}

.modal-content .modal-footer {
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    border-top: 1px solid var(--dark-gray);
}
