.proposition__number {
    font-weight: 400;
    font-size: 14px;
}

.progress {
    display: flex;
    gap: 2rem;
}

.progress__bar {
    background-color: var(--gray);
    border-radius: .5rem;
    height: 2rem;
    width: 100%;
}

.progress__inner {
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    animation: shrink 2s ease-out 1;
    border-radius: .5rem;
}