.state-selector {
    --green: #13a538;
    --yellow-green: #c1ff00;
}

.state-selector .modal__header {
    display: flex;
    justify-content: center;
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
}

.state-selector .modal__body {
    overflow-y: hidden;
    display: grid;
    align-items: center;
    justify-items: stretch;
}

.state-selector .modal__footer {
    display: flex;
    align-items: center;
    border-top-width: 0 !important;
    justify-content: space-between;
    
    font-size: .875rem;
    font-weight: 700;
    color: var(--blue);
}

.state-selector .modal__footer label {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.state-selector .modal__footer .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.state-selector .modal__footer .right button {
    padding-inline: 1rem;
    font-size: 1rem;
    color: white;
}

.state-selector .modal__footer .right a {
    text-decoration: underline;
    color: var(--blue);
}

#svg-map {
    width: 100%;
    height: calc(80vh - 15rem);
}

#svg-map path {fill: var(--green);}

#svg-map text {
    fill: var(--green);
    font: 12px 'Noto Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}


#svg-map .circle {display: none;}
#svg-map .circle + text {
    display: none;
    fill: var(--green) !important;
}

#svg-map a:hover text {
    fill: var(--green);
    display: block
}

#svg-map a {text-decoration: none;}

#svg-map a:hover {
    cursor: pointer;
    text-decoration: none;
}

#svg-map :is(a:hover path, .circle) {fill: var(--yellow-green) !important;}

#svg-map a:hover .circle {
    display: block;
    fill: var(--yellow-green);
    cursor: pointer;
}
