{% load wagtailcore_tags wagtailimages_tags static %}

<footer>
    <div class="footer__content container">
        <div class="footer__brandings">
            <span>Organização</span>
            <div class="footer__links">
                <a href="https://www.idsbrasil.org/" target="blank"><img src="{% static 'img/ids-logo.png' %}"></a>
                <a href="https://raconhecimento.net/" target="blank"><img src="{% static 'img/RAC.svg' %}"></a>
            </div>
        </div>
    </div>
</footer>
