{% load static i18n wagtailcore_tags %}

{% if subject|length and candidates_list|length%}
    <div class="subject">
        <div class="subject__content">
            <div class="subject__header">
                <div class="subject__heading">
                    pergunta da enquete no tema <span class="subject__name">{{subject}}</span>:
                </div>
                <i onclick="toggleSubjectDescription()" class="fas fa-times"></i>
            </div>
            <div class="subject__description">
                {{subject_description}}
            </div>
        </div>
    </div>
{% endif %}

<div class="candidate__list">
    {% for item in candidates_list %}
        <a href="{{item.candidate.url}}" class="candidate {% if item.opinion == 'Prefiro não responder / Não sei' %} doubt
        {% else %} {{item.opinion}} {% endif %}">
            {% with picture=item.candidate.get_picture %}
                <img {% if picture|length %} src="{{ picture }}" alt="{{ item.candidate.title }}" {% endif %} class="candidate__picture">
            {% endwith %}
            <div class="candidate__data">
                <div class="candidate__name">{{ item.candidate.campaign_name }}</div>
                <div class="candidate__info">
                    {{ item.candidate.charge }}/{{item.candidate.party}} - {{item.candidate.election_state}}
                </div>
            </div>
        </a>
    {% empty %}
        <div class="empty">
            <img src="{% static 'img/sadboi.svg' %}" alt="">
            <h2>Sua busca não retornou candidatos</h2>
            <p>Tente usar outros termos, mas não desista!</p>
        </div>
    {% endfor %}
</div>

{% if candidates_list.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if candidates_list.number > 1 %}
            <button class="page-prev" onclick="getCandidatesList({{candidates_list.previous_page_number}})">&#x3c;</button>
        {% endif %}
        {% for page_num in pagination_range %}
            <button class="page-num page-{{ page_num }} {% if page_num == candidates_list.number %}active{% endif %}" onclick="getCandidatesList({{ page_num }})">{{ page_num }}</button>
        {% endfor %}
        {% if candidates_list.number != candidates_list.paginator.num_pages %}
            <button class="page-next" onclick="getCandidatesList({{candidates_list.next_page_number}})">&#x3e;</button>
        {% endif %}
    </div>
{% endif %}
