{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags  %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/candidate_index_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/candidate_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/modal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/input-board.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/btn-toggle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/state-selector.css' %}">

<main class="candidates container">
    <div class="state-selector modal">
        <div class="modal__backdrop"></div>
        <div class="modal__content">
            <div class="modal__header">
                Em qual estado você deseja encontrar um candidato?
            </div>
            <div class="modal__body">
                {% include 'candidate/components/state-selector.html' %}
            </div>
            <div class="modal__footer">
                <label id="show-modal">
                    <input type="checkbox">
                    Não exibir novamente essa janela
                </label>
                <div class="right">
                    <a href="#" onclick="toggleCountriesModal()">Pular esta etapa</a>
                </div>
            </div>
        </div>
    </div>

    <form action='.' id="form" class="query">
        <input type="hidden" id='page' name='page' value="1">
        <div class="query__select">
            <div id='uf' class="input-board">
                <button class="input-board__btn" type="button">UF <i class="fas fa-caret-down"></i></button>
                <div class="input-board__selector">
                    <p>Mostrar candidatos do(s) estado(s):</p>
                    <div class="input-board__content">
                        {% for uf in uf_list %}
                            <label class="btn-toggle">
                                <input type="checkbox" value="{{ uf }}" name="uf[]">
                                <span>{{ uf }}</span>
                            </label>
                        {% endfor %}
                    </div>
                    <button class="clear overline hide">LIMPAR FILTRO</button>
                </div>
            </div>
            <div id='party' class="input-board">
                <button type="button">Partido <i class="fas fa-caret-down"></i></button>
                <div class="input-board__selector large">
                    <p>Mostrar candidatos do(s) partido(s):</p>
                    <div class="input-board__content">
                        {% for party in party_list %}
                            <label class="btn-toggle {% if party|length > 4 %} long {% endif %}">
                                <input type="checkbox" value="{{ party }}" name="party[]">
                                <span>{{ party }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <input type='text' placeholder='Busca pelo nome' name='name' id='query__input'>
            <div class="query__sortby">
                <label class="btn-toggle">
                    <input type="radio" name="sortby" value="ascending" id="sortby_desc" checked>
                    <span><i class="fas fa-sort-alpha-down fa-lg"></i></span>
                </label>
                <label class="btn-toggle">
                    <input type="radio" name="sortby" value="descending" id="sortby_asc">
                    <span><i class="fas fa-sort-alpha-up fa-lg"></i></span>
                </label>
            </div>
        </div>
        <div class="query__heading">Mostrar candidatos:</div>
        <div class="query__show">
            <div class="query__section">
                Reeleição: 
                <label for='reelection'>
                    <input type='checkbox' id='reelection' name='reelection' checked>
                    Sim
                </label>
                <label for='no_reelection'>
                    <input type='checkbox' id='no_reelection' name='no_reelection' checked>
                    Não
                </label>
            </div>
            <div class="query__section">
                <label for='senators'>
                    <input type='checkbox' id='senators' name='senators' checked>
                    Senadores
                </label>
                <label for='deputies'>
                    <input type='checkbox' id='deputies' name='deputies' checked>
                    Deputados
                </label>
            </div>
            <div class="query__section">
                <label for='men'>
                    <input type='checkbox' id='men' name='men' checked>
                    Homens
                </label>
                <label for='women'>
                    <input type='checkbox' id='women' name='women' checked>
                    Mulheres
                </label>
                <!-- <label for='others'>
                    <input type='checkbox' id='others' name='others' checked>
                    Outros
                </label> -->
            </div>
        </div>
        <div class="query__show">
            <div class="query__heading" onclick="toggleSubjects()">
                <img src="{% static 'img/icons/voting.svg' %}">
                Como cada candidato votou nos temas da enquete:
                <i id="toggle-icon" class="fas fa-chevron-down"></i>
            </div>
        </div>
        <div class="query__subjects">
            {% for subject in subjects %}
                <label class="btn-toggle">
                    <input type='checkbox' class="subject__input" value="{{subject}}" id='subject-{{subject}}' name='subject'>
                    <span>{{subject|lower}}</span>
                </label>
            {% endfor %}
        </div>
    </form>

    <div id="candidates__container"></div>
</main>


{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script> 
    <script src="{% static 'js/candidate/candidate_list.js' %}"></script>
{% endblock extra_js %}
