{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags  %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/candidate.css' %}">

<main class="container candidate">
    <div class="candidate__profile">
        <img src="{{page.get_picture}}" alt="{{ page.picture.title }}" class="candidate__picture">
        <div class="candidate__data">
            <h2 class="candidate__name">{{ page.title }}</h2>
            <div class="candidate__info"><span>{{ page.charge }}</span> / <span>{{page.party}}</span></div>
        </div>
    </div>

    <div class="tabs">
        <button onclick="openTab('result')" class="tab open result">resultados enquetes</button>
        <button onclick="openTab('activity')" class="tab activity">atividade parlamentar</button>
    </div>

    <div class="result__content">
        {% include 'candidate/components/result.html' %}
    </div>

    <div class="activity__content hide">
        {% include 'candidate/components/activity.html' %}
    </div>
</main>

<script src="{% static 'js/candidate.js' %}"></script>

{% endblock %}

