{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags  %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/candidate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/activity.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/propositions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/progress.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/templates/candidate/components/social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/btn-toggle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/modal.css' %}">

<main class="container candidate">
    <div class="candidate__profile">
        {% with picture=page.get_picture %}
            {% if picture|length %}
                <img src="{{ picture }}" alt="{{ page.title }}" class="candidate__picture">
            {% else %}
                <span class="candidate__picture empty"></span>
            {% endif %}
        {% endwith %}
        <div class="candidate__data">
            <h2 class="candidate__name">{{ page.campaign_name }}</h2>
            <div class="candidate__info">{{ page.charge }} / {{page.party}} - {{page.election_state}}</div>
        </div>
    </div>

    <div class="tabs">
        {% if page.opinions_answers %}
            <button onclick="openTab('result')" class="tab overline result">Resultados enquete</button>
        {% endif %}
        {% if page.id_autor %}
        <button onclick="openTab('activity')" class="tab overline activity">Convergência ambiental</button>
        <button onclick="openTab('propositions')" class="tab overline propositions">Proposições</button>
        {% endif %}
        <button onclick="openTab('social')" class="tab overline social">Redes sociais</button>
    </div>

    {% if page.opinions_answers %}
        <div class="result tab__frame hide">
            {% include 'candidate/tabs/result.html' %}
        </div>
    {% endif %}

    {% if page.id_autor %}
      <div class="activity tab__frame hide">
          {% include 'candidate/tabs/activity.html' %}
      </div>
      <div class="propositions tab__frame hide">
          {% include 'candidate/tabs/propositions.html' %}
      </div>
    {% endif %}
    <div class="social tab__frame hide">
        {% include 'candidate/tabs/social.html' %}
    </div>
</main>

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/candidate/candidate.js' %}"></script>
    <script src="{% static 'js/candidate/social.js' %}"></script>
    <script src="{% static 'js/candidate/propositions.js' %}"></script>
    <script src="{% static 'js/components/modal.js' %}"></script>
{% endblock %}

